[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "~=1.2.5"
behave-django = "~=0.5.0"
Django = "~=1.11.18"
django-webpack-loader = "~=0.5.0"
dj-database-url = "~=0.4.2"
gunicorn = "~=19.7.1"
psycopg2 = "~=2.7.5"
pytz = "~=2017.2"
selenium = "~=3.0.0"
six = ">=1.10.0"
whitenoise = "~=3.3.1"
django-money = "~=0.14.3"
django-extensions = "~=2.1.4"

[dev-packages]
flake8 = '*'
mypy = '*'
pytest = '*'
ipython = "==*"

[requires]
python_version = "3.6"
