[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "~=1.2.5"
behave-django = "~=1.1.0"
dj-database-url = "~=0.5.0"
Django = "~=2.1.5"
django-filter = "~=2.0"
django-db-constraints = "~=0.3.0"
django-money = "~=0.14.3"
django-extensions = "~=2.1.4"
django-webpack-loader = "~=0.6.0"
djangorestframework = "~=3.9.0"
djangorestframework-filters = "~=1.0.0.dev0"
gunicorn = "~=19.9.0"
psycopg2-binary = "~=2.7.6"
pytz = "~=2018.7"
pyyaml = "~=3.13"
selenium = "~=3.141.0"
six = ">=1.10.0"
whitenoise = "~=3.3.1"
wrapt = "~=1.10.11"

[dev-packages]
flake8 = '*'
freezegun = "*"
ipython = "*"
mypy = '*'
pytest = '*'
pytest-cov = "*"
pytest-factoryboy = "*"
pytest-django = "*"
pytest-socket = "*"
requests-mock = "*"
werkzeug = "~=0.14.1"
yapf = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
