body {
    background-color: silver;
}
.header.col-sm-6.centered {
    text-align: center;
    border: 1px solid navy;
    background: white;
    border-radius: 15px;
    padding-bottom: 2%;
    margin-top: 10%;
}
h1 {
    font-weight: 700;
    font-size: 4rem;
}

.centered{
    float: none;
    margin: 0 auto;
    margin-top: 5%;
}

#credits {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}

button.centered {
    height:130px;
    width: 175px;
    margin-bottom: 5%;
    color: white;
}

button * {
    font-weight: 700;
    font-size: 36;
}



