/* website colors: 
Dark purple: #63568B
Light Purple: #A4A3CA
Green: #9AC1A0;
Gray: #232323;
Blue: #005876;
*/

/* fonts:
Oswald, sans-sarif;
Permanent Marker, Oswald, sans-serif;
*/

body {
    background-color: white;
    font-family: Arial, sans-sarif;
}

/******* FONTS *******/
.oswald {font-family: Oswald, sans-sarif }
.opensans {font-family: 'Open Sans', sans-sarif }

/******* SITE COLORS *******/
.purple { color: #A4A3CA }
.bg-purple { background-color: #A4A3CA }
.b--purple { border-color: #A4A3CA }

.dk-purple { color: #63568B }
.bg-dk-purple { background-color: #63568B }

.green { color: #9AC1A0 }
.bg-green { background-color: #9AC1A0 }

.blue { color: #005876 }
.bg-blue { background-color: #005876 }

.gray { color: #232323 }
.bg-gray { background-color: #232323 }

.dk-gray { color: #333 }
.bg-dk-gray { background-color: #333 }

/************* OTHER **************/
