/*website colors: 
forestgreen
darkslateblue*/
/*fonts:
Oswald, sans-sarif;
Permanent Marker, Oswald, sans-serif;*/

body {
    background-color: white;
    font-family: Oswald, sans-sarif;
    font-color: white;
}
header * {
    text-align: center;
    margin-top: 5%;
    background-color: darkslateblue;
}
#seachbar input.input-lg {
    width: 60%;
    font-size: 32px;
    margin: 5% auto;
}
.header.col-sm-12.centered {
    text-align: center;
    border: 2px solid slateblue;
    background: darkslateblue;
    padding-bottom: 2%;
    margin-top: 10%;
    width: 90%;
    border-radius: 10px;
}
header h1 {
    font-weight: 700;
    font-size: 4rem;
    color: white;
    padding:5% auto;
}

.centered{
    float: none;
    margin: 0 auto;
    margin-top: 5%;
}
div#result.jumbotron.row {
    margin-top: 5px%;
    padding: 1%;;
    width: 95%;
    border: 2px solid lightslategray;
    border-radius: 10px;
    background: darkforestgreen;
}
.jumbotron p span{ 
    margin-left: 5%;
}
#credits {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}
div.buttons.row {
    margin: 4% 0 4% 23%;
}
button.col-sm-offset-1 {
    height:130px;
    width: 175px;
    margin-bottom: 5%;
    color: white;
    font-size: 3REM;
}

button.btn-success.col-sm-offset-5 {
    height:150px;
    width: 225px;
    margin-bottom: 5%;
    color: white;
    font-size: 3REM;
}

btn.btn-info.col-sm-offset-5 {
    margin-left:5%;
}

button * {
    font-weight: 700;
    font-size: 36;
}
div#calculate.jumbotron.row {
    margin-top: 2%;
    padding-top: 2%;
    width: 75%;
    border: 2px solid lightslategray;
    background: darkforestgreen;
    border-radius: 10px;
}

input.numbers, input#total {
    font-size: 32px;
    font-weight: 700;
}


