{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<html>
    <head>
        {% include "universal-head.html" %} 
    </head>
    <body>
        <div class="header col-sm-6 centered">
            <h1>Customer Name</h1>
            <h5>Last worked: {{date}}</h5>
            <h5>Last meal: {{date}}</h5>
        </div>
        <div id="credits" class="centered">
            Barter Credits: {{amount}} $$$
        </div>
        <div class="buttons row text-center">
            <button class="btn btn-info col-sm-offset-2 centered">
                Buy Meal
            </button>
            <button class="btn btn-success col-sm-offset-2 centered">
                Add Credit
            </button>
        </div>
        <div class="text-center row">
            <button class="btn btn-danger col-sm-2 col-sm-offset-5">Back to Search</button>
        </div>
        
        
    </body>
</html>