{% load render_bundle from webpack_loader %}
<html>
    <body>
        <div>
            <h3>Customer Name</h1>
            <h5>Last worked: {{date}}</h5>
            <h5>Last meal: {{date}}</h5>
        </div>
        <div>
            Meal Total: 
            <input type="number" min="0.00" step="0.25" max="2500" value="${{amount}}">PRICE HERE
        </div>
        <div>
            <button><a href="/buy">
                Spend {{amount}}</a>
            </button>
        </div>
        <a href='/account'>Cancel</a>
        <div></div>
    </body>
</html>