{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link rel="stylesheet" href="//unpkg.com/tachyons/css/tachyons.min.css">
<link rel="stylesheet" href="{% static 'css/bartercheckout.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
